language: python
cache: pip
python:
  - '3.7'
install:
  - pip install .
#deploy:
#  provider: pypi
#  distributions: sdist bdist_wheel
#  user: emorynlp
#  password:
#    secure: ZOrLRWHaKNpYzfIeV+UQTuwiP4hI3uw8XTG5iLegVuY/BP5saxYIFr6kVH13bVWlLCkvEDwDBxLb831SNmg8LtxUcJNIspJ3NdbrziYJ2FkKjZupjN1NPxpAtBZXI8i4xmAF1tocnzKAw2KtOY6+dgci5ZOJV3JwjbJQcygv1aR4erSGtgpqSXtySdVFkWMIRl5Tq1PaD74M3kSNd0DsH2wGaazYNYRknUUQw/ZxyExCjvgA+i3f3ydORYVYO5xOsGlYr/qxts7FqZqsngGSLVApV47vGYcQadzrOOIWG4cbysWVZsutnEmxQdUSa+W3i70GIQgc04O7qIH2jepfwoqft4CvlLb+Zl1tCiVXGUaHotMBwKgRgxF3uA91cwAAN07ImGX0bdxQ2WlBdze37HTaj2ReFVSFFebyeA11y3Zc4+DBVf7y4X4CXys5qb/L1a/QWsa6Zbg1djPGxy8Z2rgoacGqCIL/mKx2HaVJcIxEuAMkNghI2Q4kQOGt9uYcLyvhgEk7nU9nK19DiEvewhRyPhL6E0fCpqNF0FV5aJuEGX22/V0D5bMO74FaVks/QV4J4vuztBhn2tnqnDL6dLFFBDVgn2kyXTlep5dlXGPOMKco/dRaY+VJjP7AgPreThmlKeRK74yH7WBi2fEoNgVO3vGXVi4JTgRmIjyq5rU=
#  on:
#    python: 3.7
#    branch: main
env:
  - ELIT_VERBOSE=0
script:
  - python tests/test_joint_model.py
  - python tests/test_service_coref_doc.py
  - python test_service_coref_online.py
notifications:
  email: false
